@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.btn {
  margin: 0 1rem;
}

.noty {
  position: fixed;
  top: 2rem;
  width: 400px;
  margin: 0 auto;

  &.topLeft {
    left: 2rem;
  }

  &.topCenter {
    left: 50%;
    transform: translateX(-50%);
  }

  &.topRight {
    right: 2rem;
  }

  &__item {
    border-radius: 5px;
    padding: 1rem;
    color: #fff;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 15%);
    cursor: pointer;
    margin-bottom: 1rem;

    &.success {
      background-color: #49b749;
    }

    &.warning {
      background-color: #d6d629;
    }

    &.error {
      background-color: #e63939;
    }
  }

  &__text {
    margin: 0;
  }

  &__close {
    margin-left: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: .2s ease;

    &:hover {
      opacity: .7;
    }

  }

}
